In [15]:
# Conversion of two list into Dictionary Using Python

a = [1,2,3,4,5]
b = ['q','w','e','r','t']

c = {}

for i,j in zip(a, b):
    c.update({i:j})
print(c)

{1: 'q', 2: 'w', 3: 'e', 4: 'r', 5: 't'}

In [49]:
# FIND MISSING NUMBER IN AN ARRAY IN PYTHON

a = [1,2,4,5,6,7]
b = []
n = []

def arr_b():
    for m in a:
        b.append(m)
    return b

print("Array A = ", arr_b())

def arr_n():
    for j in n:
        n = n+1

Array A =  [1, 2, 4, 5, 6, 7]

In [10]:
star = int(input("enter a  num: "))
for i in range(1,star+1):
    for j in range(1,i+1):
        print("*", end="")
    print()

enter a  num:  4

*
**
***
****

In [70]:


 # 1
 # 121
 # 12321
 # 1234321



row = int(input("enter num of row: "))

for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
        
    print()

enter num of row:  5

1
121
12321
1234321
123454321

In [84]:
# find the length of the string without using len() function

s = input('enter the string :' )

count = 0
for i in s:
    count = count + 1
print(count)

enter the string : my name

7

In [98]:
# extract username from a email

email = input('Enter Email : ')

user = ''
for i in email:
    if i == '@':
        break
    user = user + i
    
print(user)
    

# ----------------------------------------------------

# simple funtion way

pos = email.index('@')
print(email[0:pos])

Enter Email :  myemail@khb.com

myemail
myemail

In [112]:
# count the frequency of perticular character in a provided string

string = 'my name is navjot'
freq = 'n'

fr = string.count(freq)
print(fr)

#-----------------------------------------------------------

fro = 0
for i in string:
    if i == freq:
        fro = fro + 1
print(fro)

2
2

In [114]:
# write a programm which can remove a perticular character from a string

string = 'what is my name'
rem = 'm'
new = ''
for i in string:
    if i  == rem:
        pass
    else :
        new = new + i
print (new)

what is y nae

In [138]:
# write a programe that can check weather a given string is palindrome or not.

string = 'level'

rev = string[::-1]

if string == rev:
    print("palidrome : ", string)
else:
    print("NOT Palidrome : ", string)


# -------------

# reversed

st = 'tinnu'
new = ''

for i in st:
    new = i + new
print ('reversed string : ',new)

# now compare

if new == st:
    print("palidrome : ", new)
else:
    print("NOT Palidrome : ", new)

palidrome :  level
reversed string :  unnit
NOT Palidrome :  unnit

In [215]:
# write a progmramme to count number of words in a string without split()

str = '   hello how can i help you ?     '
chr = ' '
cnt = 0

str2 = str.strip()
print(str2)



for i in str2:
    if i == chr:
        cnt = cnt + 1
print(cnt)


#----------------------------------------------------------------------

str3 = ''
lst = []
ct = 0

for i in str2:
    if i != chr:
        str3 = str3 + i
    else:
        lst.append(str3)
        str3 = ''

print(lst) 
for k in lst:
    ct += 1
print(ct)

hello how can i help you ?
6
['hello', 'how', 'can', 'i', 'help', 'you']
6

In [229]:
# write a python program to convert a string to title case without using title()

str = 'my name is navjot sidhu'
tn = ''
lst = []

for i in str:
    if i != ' ':
        tn += i
    else:
        lst.append(tn)
        tn = ''
print(lst)

for j in lst:
    print(j[0].upper() + j[1:].lower(), end = ' ')

['my', 'name', 'is', 'navjot']
My Name Is Navjot

In [247]:
# Reverse words in a given string

str = 'test hi toh hai'
lst = str.split()
print(lst)
relst = lst[::-1]
str2 = ''
for i in relst:
    str2+= (i+ ' ')
print(str2)

['test', 'hi', 'toh', 'hai']
hai toh hi test

In [279]:
# Longest Common Prefix

str1 = 'geekes for geek is geekiness, so why to be a geek in geek world'
str2 = 'hello world'

tst = ''
strA = str1.split()
print(strA)

# 1. bring out 1st 2 indexe and 
jd = []

for i in strA:
    
    jd.append(i[0:2])
print(jd)
for j in jd:
    if j == jd[1:]:
        break
print(j)




# 2. compare with other prefexes
# 3. if equals then save in a string
# 4. jump to 3 incises, and compare with others
# 5. if equals, then repeat,
# 6. if 4rth indcis doesn't match.
# 7. show the 3rd indice

['geekes', 'for', 'geek', 'is', 'geekiness,', 'so', 'why', 'to', 'be', 'a', 'geek', 'in', 'geek', 'world']
['ge', 'fo', 'ge', 'is', 'ge', 'so', 'wh', 'to', 'be', 'a', 'ge', 'in', 'ge', 'wo']
wo

In [289]:
# Print thegiven strings as per stated format. 

# "Data" "Science" "Mentorship" "Program" 
# "By" "CampusX"

# output: Data-Science-Mentorship-Program-started-By-CampusX

str1 =  "Data" 
str2 = "Science" 
str3 = "Mentorship" 
str4 = "Program"  

str5 = "By" 
str6 = "CampusX"


print(str1, end = '-')
print(str2, end = '-')
print(str3, end = '-')
print(str4, end = '-')
print(str5, end = '-')
print(str6)

Data-Science-Mentorship-Program-By-CampusX

In [291]:
# Write a program that will convert celsius value to fahrenheit.
C = 100
F = ((9/5) *C) + 32
print(F)

212.0

In [297]:
# Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

N1 = int(input('enter 1st num : '))
N2 = int(input('enter 2nd num : '))


n3 = N2
n4 = N1

N2 = n4
N1 = n3

print("swapped nms are : ",N1,N2)

enter 1st num :  2
enter 2nd num :  3

swapped nms are :  3 2

In [299]:
# Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.


# 5 -> 1*2 + 2*2 + 3*2 + 4*2 + 5*2

n = int(input("enter N for natural num"))
sum = 0
for i in range(1,(n+1)):
    sum +=i**2
print(sum)

enter N for natural num 5

55

In [305]:
# Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

# 2,4...............n ??
# 5,10.....n?

n1 = int(input("enter 1st num of series"))
n2 = int(input("enter 2nd num of series"))

N  = int(input("enter Nth num of series"))
N_val = 0

diff = n2-n1
for i in range(1, (N+1)):
   # N_val += N_val + diff
    N_val = n1 + (N - 1) * diff

print(N_val)

enter 1st num of series 5
enter 2nd num of series 10
enter Nth num of series 5

25

In [309]:
# Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

num1 = float(input("enter numerator one : "))
den1 = float(input("enter denominator two : "))

frac1 = num1/den1

num2 = float(input("enter numerator one : "))
den2 = float(input("enter denominator two : "))

frac2 = num2/den2

sum = frac1 + frac2

print(sum)

enter numerator one :  5
enter denominator two :  2
enter numerator one :  5
enter denominator two :  7

3.2142857142857144